site_name: 'Freetz-NG Documentation'
site_description: 'Firmware modification for AVM FRITZ!Box devices'
site_author: 'Freetz-NG'
site_url: 'https://freetz-ng.github.io/'
repo_url: 'https://github.com/freetz-ng/freetz-ng'
edit_uri: '../freetz-ng/blob/master/docs/'
docs_dir: '../../docs/'
copyright: |
  <p>
  &copy <span>Freetz-NG.</span><br/>
  <span>Licensed under <a href="https://github.com/Freetz-NG/freetz-ng/raw/refs/heads/master/COPYING" target="_blank" rel="noopener noreferrer">GPL-2.0</a></span><br/>
  </p>
remote_branch: gh-pages
validation:
  links:
    not_found: ignore
    anchors: ignore
    absolute_links: ignore
    unrecognized_links: ignore
theme:
  name: 'material'
  favicon: 'screenshots/000-TAG_freetz-ng.png'
  logo: 'screenshots/000-TAG_freetz-ng.png'
  language: 'en'
  font:
    text: 'Noto Sans Lisu'
    code: 'Roboto Mono'
  features:
    - navigation.top
    - navigation.instant
    - navigation.indexes
    - search.suggest
    - search.highlight
    - search.share
    - content.action.edit
    - content.code.copy
  palette:

    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: blue grey
      accent: blue grey
      toggle:
        icon: material/lightbulb-outline
        name: Switch to dark mode

    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: blue grey
      accent: blue grey
      toggle:
        icon: material/lightbulb
        name: Switch to light mode

extra:
  generator: false
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/freetz-ng
      name: GitHub

extra_css:
  - 'extra.css'

markdown_extensions:
  - tables

plugins:
  - search

