name: task_stalled

on:
  push:
    branches: [ master ]
    paths:
      - '.github/workflows/task_stalled.yml'
  schedule:
    - cron: '0 0 * * 0'
  workflow_dispatch:

permissions:
  issues: write
  pull-requests: write

jobs:
  build:
    permissions:
      pull-requests: write
      issues: write
    runs-on: ubuntu-latest
    if: github.repository == 'freetz-ng/freetz-ng'

    steps:

      - name: stalled
        uses: actions/stale@v10
        with:
          stale-issue-message: 'This issue is stalled because it has been open for 7 days with no activity.'
          stale-pr-message: 'This PR is stalled because it has been open for 7 days with no activity.'
          close-issue-message: 'This issue was closed because it has been inactive for 7 days since being marked as stalled.'
          close-pr-message: 'This PR was closed because it has been inactive for 7 days since being marked as stalled.'
          stale-issue-label: 'stalled'
          stale-pr-label: 'stalled'
          labels-to-remove-when-unstale: 'stalled'
          exempt-issue-labels: 'task'
          exempt-pr-labels: 'task'
          days-before-stale: 7
          remove-stale-when-updated: true
          enable-statistics: true

